<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements - AquaUTM</title>
    <link href="/assets/style.css" rel="stylesheet">
</head>

<body class="body-b">
    <section class="members-section">
        <h2>Our Achievements</h2>
        <div class="achievements-grid">

            <!-- Achievement 1 -->
            <div class="achievement-card">
                <img src="/images/acv2.jpg" alt="team">
                <div class="achievement-info">
                    <h3>Mak Hoi Mon, Lydia Chua Jing Wei,</h3>
                    <h3>Yasmin Batrisyia, Kamalia Sofea</h3>
                    <p> Winning 2🥉 Bronze Medals at SUKIPT2024 held at Universiti Utara Malaysia (UUM) in the events </p>
                    <p>1. Women's 4x100m Freestyle Relay</p>
                    <p>2. Women's 4x200m Freestyle Relay</p>
                </div>
            </div>

            <!-- Achievement 2 -->
            <div class="achievement-card">
                <img src="/images/acv4.jpg" alt="Yasmin Batrisyia">
                <div class="achievement-info">
                    <h3> Yasmin Batrisyia</h3>
                    <p>Winning🥉Bronze Medals at SIPMA2025 in the events</p>
                    <p>1. Women's 4x100m Medley Relay</p>
                    <p>2. Women's 4x100m Freestyle Relay</p>
                    <p>3. Women's 4x200m Freestyle Relay</p>
                </div>
            </div>

            <!-- Achievement 3 -->
            <div class="achievement-card">
                <img src="/images/acv1.jpg" alt="Kamalia Sofeal">
                <div class="achievement-info">
                    <h3> Kamalia Sofeal</h3>
                    <p>Winning 🥉 Bronze Medal in Women’s 200m Butterfly at SUKIPT2024 held at Universiti Utara Malaysia (UUM)
                    </p>
                </div>
            </div>

             <!-- Achievement 4 -->
            <div class="achievement-card">
                <img src="/images/acv5.jpg" alt="Nicholas Yek Ei Zhe">
                <div class="achievement-info">
                    <h3>Nicholas Yek Ei Zhe</h3>
                    <p>Winning🥉Bronze Medal at SIPMA2025 in the Men's 4x200m Medley Relay </p>
                </div>
            </div>

             <!-- Achievement 5 -->
            <div class="achievement-card">
                <img src="/images/acv3.jpg" alt="Yasmin Batrisyia">
                <div class="achievement-info">
                    <h3>Yasmin Batrisyia</h3>
                    <p>Winning 🥉 Bronze Medal in the Women’s 50m Backstroke at 
                        SUKIPT2024 held at Universiti Utara Malaysia (UUM)</p>
                </div>
            </div>

        </div>
    </section>

</body>

</html>
