<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Coaches - AquaUTM</title>
    <link href="/assets/style.css" rel="stylesheet">
</head>

<body class="body-b">
    <section class="members-section">
        <h2>About Our Club</h2>

        <div class="club-card">
            <div class="club-content">
                <p>
                    UTM Swimming Club welcomes swimmers of all levels. We are dedicated to nurturing competitive
                    talent and providing a supportive environment for beginners to learn and grow.
                </p>
            </div>

            <div class="club-images">
                <img src="/images/club1.jpg" alt="Swimming Activity">
                <img src="/images/club2.JPG" alt="Training Session">
            </div>
        </div>
    </section>
</body>

</html>
