<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Coaches - AquaUTM</title>
  <link href="/assets/style.css" rel="stylesheet">
</head>

<body class="body-b">
  <nav class="navbar">
    <div class="navdiv">
      <img src="/images/logo.png" alt="Logo" width="40" height="40" class="me-3">
      <ul class="nav-list">
        <li class="header-li"><a href="/">Home</a></li>
        <li class="header-li"><a href="/login">Log In / Sign Up</a></li>
      </ul>
    </div>
  </nav>
  <section class="members-section">
    <h2>Our Coaches</h2>
    <div class="members-grid">
      <div class="member-card">
        <img src="/images/coach.jpg" alt="Coach Low Xue Ting">
        <div class="name-bar">Coach Low Xue Ting</div>
        <div class="member-info">
          <p>A former competitive swimmer from Johor who won gold in ASEAN School Games.
            She leveraged her athletic experience into founding a swim academy called EZY Swimming Academy in 2013,
            with the vision to raise swimming standards in Johor, offering programmes from beginner to elite,
            and achieving strong results both in volume (thousands of students) and performance (state and national
            level).</p>
        </div>
      </div>
    </div>
  </section>


  </div>
  </section>

</body>

</html>
